.body {
  background: #bfa386;
  color: rgb(56, 46, 36);
  font-family: Roboto;
}
.container {
  text-align: center;
}
h1 {
  color: white;
  margin: 1em auto;
  letter-spacing: 0.3rem;
  font-size: 3.5em;
  font-weight: 200;
  text-shadow: 2px -1px 1px rgb(96, 73, 51);
}
h1:hover {
  text-shadow: 3px -3px 3px rgb(96, 73, 51);
}

hr {
  margin: 5rem auto 1rem;
  width: 50%;
  height: 1px;
  background: #a78f75;
  border: none;
}

textarea {
  font-family: Roboto;
  font-size: 1em;
  color: rgb(56, 46, 36);
  border-radius: 0.4rem;
  margin-top: 1em;
}
textarea:hover {
  transform: scale(1.01);
}

button {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.04rem;
  cursor: pointer;
  background: rgb(81, 66, 52);
  color: white;
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 0.4rem;
  margin: 1rem 1rem 0;
}
button:hover {
  background: rgb(61, 50, 39);
  box-shadow: 0 0 15px 4px rgba(237, 225, 229, 0.15);
}
/* .done {
  color: grey;
} */
